/* 
TODO: duplicate crap for now, still working out plan
*/
.fcol {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.fcol_end {
    composes: fcol;
    align-items: flex-end;
}

.years {
    composes: fcol;
    align-items: flex-end;
    align-self: flex-start;
}