/* 
this file exists because you can't extend/override global; any props you try to change don't work
*/
.thisDoesNotWork {
    composes: fcol from global;
    align-items: flex-end;
}

.fcol {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.fend {
    align-items: flex-end;
}

.pL {
    margin-left: 0.5rem;
}