:root {
    --clr-primary: rgb(20, 20, 20);
    --clr-secondary: rgb(30, 30, 30);
    --clr-txt: rgb(235, 235, 235);
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100vh;
    min-height: 100vh;
}

body {
    background-color: var(--clr-primary);
    color: var(--clr-txt);
}

.fcol {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.buttons {
    align-self: center;

    display: flex;
    gap: 1rem;
}

.buttons button {
    font-size: larger;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.buttons button:hover {
    background-color: var(--clr-primary);
    color: var(--clr-txt);
}